---
import Layout from "../../layouts/Layout.astro";

import "@new-ui/foundations";
import Dashboard from "../../components/Dashboard";

export function getStaticPaths() {
  return [
    {params: {category: 'all'}},
    {params: {category: 'art'}},
    {params: {category: 'audio'}},
    {params: {category: 'code'}},
    {params: {category: 'copywriting'}},
    {params: {category: 'design'}},
    {params: {category: 'developer'}},
    {params: {category: 'education'}},
    {params: {category: 'enterprise'}},
    {params: {category: 'fashion'}},
    {params: {category: 'gaming'}},
    {params: {category: 'health'}},
    {params: {category: 'legal'}},
    {params: {category: 'llm'}},
    {params: {category: 'music'}},
    {params: {category: 'nocode'}},
    {params: {category: 'photos'}},
    {params: {category: 'productivity'}},
    {params: {category: 'prompts'}},
    {params: {category: 'research'}},
    {params: {category: 'seo'}},
    {params: {category: 'social'}},
    {params: {category: 'xtras'}},
  ];
}

const { category } = Astro.params;
---

<Layout
  site=`Rise of Machine - ${category}`
  title="Make the Most of It"
  tagline="Discover AI tools curated for makers and SMBs."
>
  <main>
      <Dashboard client:load category=`${category}` />
  </main>
</Layout>