---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
---

<Layout
  site="404 Page Not Found - Rise of Machine"
  title="Oops!"
  tagline="We can't seem to find the page you're looking for. Error code: 404"
>
<main>
    <div class="btn-group">
        <a
            href="https://riseofmachine.com/"
            class="submit-btn"
            tabindex="0">Back to Home</a
        >
    </div>
  </main>
</Layout>
