---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
---

<Layout title="Rise of Machine">
<main>
		<h1 class="nu-c-h3 title">A Curated List of
		<br /> Powerful AI Tools</h1>

		<!-- Audio Tools -->
		<section>
		<h6 class="separator nu-c-h6">&#127899; Audio</h6>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://podcast.adobe.com/?ref=riseofmachine"
				title="Adobe Podcast"
				body="AI-powered audio recording and editing."
			/>
			<Card
				href="https://www.altered.ai/?ref=riseofmachine"
				title="Altered"
				body="Change your voice to AI voices."
			/>			
			<Card
				href="https://www.audiostrip.co.uk/?ref=riseofmachine"
				title="AudioStrip"
				body="Split vocals from backing music."
			/>
			<Card
				href="https://www.beatoven.ai/?ref=riseofmachine"
				title="Beatoven"
				body="Create customisable royalty free music."
			/>
			<Card
				href="https://blogaudio.co/?ref=riseofmachine"
				title="BlogAudio"
				body="Convert text to high quality audio speech."
			/>			
			<Card
				href="https://cleanvoice.ai/?ref=riseofmachine"
				title="Cleanvoice"
				body="Removes filler sounds, stuttering, & mouth sounds."
			/>
			<Card
				href="https://krisp.ai/?ref=riseofmachine"
				title="Krisp"
				body="Voice clarity and meeting assistant."
			/>
			<Card
				href="https://www.lalal.ai/?ref=riseofmachine"
				title="Lalal"
				body="Split vocal and instrumental tracks."
			/>
			<Card
				href="https://podcastle.ai/?ref=riseofmachine"
				title="Podcastle"
				body="Record, edit, transcribe, & export content."
			/>											
			<Card
				href="https://www.voicemod.net/?ref=riseofmachine"
				title="Voicemod"
				body="Real-time AI voice changing & custom sound effects."
			/>
		</ul>
		</section>

		<!-- Copywriting Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#9997; Copywriting</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://anyword.com/?ref=riseofmachine"
					title="Anyword"
					body="On-brand AI copywriting."
				/>
				<Card
					href="https://bertha.ai/?ref=riseofmachine"
					title="Bertha"
					body="Copywriting assistant for WordPress and in Chrome."
				/>
				<Card
					href="https://www.botowski.com/?ref=riseofmachine"
					title="Botowski"
					body="AI content generator."
				/>
				<Card
					href="https://www.closerscopy.com/?ref=riseofmachine"
					title="Closerscopy"
					body="AI copywriting robot."
				/>
				<Card
					href="https://www.contents.com/?ref=riseofmachine"
					title="Contents"
					body="Create original, SEO-optimized content."
				/>
				<Card
					href="https://cowriter.org/?ref=riseofmachine"
					title="Cowriter"
					body="AI platform for creative writing."
				/>
				<Card
					href="https://www.copy.ai/?ref=riseofmachine"
					title="CopyAI"
					body="AI content generator."
				/>
				<Card
					href="https://copymatic.ai/?ref=riseofmachine"
					title="Copymatic"
					body="Generate content, copy & images with AI."
				/>
				<Card
					href="https://www.daydrm.ai/?ref=riseofmachine"
					title="Daydrm"
					body="AI tool for creative advertising ideas."
				/>
				<Card
					href="https://easy-peasy.ai/?ref=riseofmachine"
					title="Easy-Peasy"
					body="Generate content."
				/>
				<Card
					href="https://www.helloscribe.ai/?ref=riseofmachine"
					title="HelloScribe"
					body="AI toolkit for PR & marketing professionals."
				/>
				<Card
					href="https://www.hypotenuse.ai/?ref=riseofmachine"
					title="Hypotenuse"
					body="AI writing assistant, and text generator."
				/>
				<Card
					href="https://www.jasper.ai/?ref=riseofmachine"
					title="Jasper"
					body="Create on-brand AI content."
				/>
				<Card
					href="https://lek.ai/?ref=riseofmachine"
					title="Lek"
					body="AI toolkit for generating content."
				/>
				<Card
					href="https://www.ocoya.com/?ref=riseofmachine"
					title="Ocoya"
					body="Creating and post social media content."
				/>
				<Card
					href="https://paragraphai.com/?ref=riseofmachine"
					title="ParagraphAI"
					body="AI writing assistant."
				/>
				<Card
					href="https://www.peppercontent.io/peppertype-ai/?ref=riseofmachine"
					title="Pepper Content"
					body="Ideate, create, distribute, and measure content."
				/>
				<Card
					href="https://rytr.me/?ref=riseofmachine"
					title="Rytr"
					body="AI writing assistant."
				/>
				<Card
					href="https://simplified.com/ai-writer/?ref=riseofmachine"
					title="Simplified"
					body="Generate marketing copy."
				/>
				<Card
					href="https://text-gen.com/?ref=riseofmachine"
					title="Text Generator Plugin"
					body="Free Alternative to Copy.ai, Jasper, & Rytr."
				/>				
				<Card
					href="https://texti.app/?ref=riseofmachine"
					title="Texti"
					body="AI helper in your browser."
				/>
				<Card
					href="https://typli.ai/?ref=riseofmachine"
					title="Typli"
					body="AI writing assistant with built-in SEO checker."
				/>
				<Card
					href="https://writesonic.com/?ref=riseofmachine"
					title="Writesonic"
					body="AI Writer, copywriting, and paraphrasing tool."
				/>
				<Card
					href="https://unbounce.com/product/smart-copy/?ref=riseofmachine"
					title="Unbounce"
					body="Generate marketing content."
				/>
				<Card
					href="https://www.unboundcontent.ai/?ref=riseofmachine"
					title="Unbound"
					body="Create content for your business."
				/>
			</ul>
		</section>

		<!-- Design Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#127912; Design Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.befunky.com/?ref=riseofmachine"
					title="BeFunky"
					body="Edit photos, create graphics, & make photo collages."
				/>
				<Card
					href="https://www.booth.ai/?ref=riseofmachine"
					title="Booth.AI"
					body="Create pro quality product photography with AI."
				/>
				<Card
					href="https://bria.ai/?ref=riseofmachine"
					title="Bria"
					body="Create customized visual content at scale."
				/>				
				<Card
					href="https://www.clickable.so/?ref=riseofmachine"
					title="Clickable"
					body="Generate ads for marketing channels."
				/>
				<Card
					href="https://clipdrop.co/?ref=riseofmachine"
					title="Clipdrop"
					body="Create professional visuals without a photo studio."
				/>
				<Card
					href="https://designs.ai/?ref=riseofmachine"
					title="DesignsAI"
					body="Create logos, videos, banners, mockups with AI."
				/>	
				<Card
					href="https://diagram.com/?ref=riseofmachine"
					title="Diagram"
					body="Generative design tool kit."
				/>											
				<Card
					href="https://flair.ai/?ref=riseofmachine?ref=riseofmachine"
					title="Flair"
					body="The AI design tool for branded content."
				/>
				<Card
					href="https://hotpot.ai/?ref=riseofmachine"
					title="Hotpot"
					body="Create graphics, pictures, and writing."
				/>
				<Card
					href="https://www.illostration.com/?ref=riseofmachine"
					title="Illostration AI"
					body="Create AI-generated illustrations."
				/>
				<Card
					href="https://illustroke.com/?ref=riseofmachine"
					title="Illustroke"
					body="Create vector illustrations from text prompts."
				/>
				<Card
					href="https://magician.design/?ref=riseofmachine"
					title="Magician"
					body="Generate icons, copies, and images in Figma."
				/>											<Card
					href="https://designer.microsoft.com/?ref=riseofmachine"
					title="Microsoft Designer"
					body="Generate designs and original images."
				/>
				<Card
					href="https://patternmakerai.com/?ref=riseofmachine"
					title="Pattern Maker AI"
					body="Generate seamless vector patterns using AI."
				/>
				<Card
					href="https://www.patterned.ai/?ref=riseofmachine"
					title="Patterned AI"
					body="Generate unique patterns for your product using AI."
				/>
				<Card
					href="https://www.pictorial.ai/?ref=riseofmachine"
					title="Pictorial"
					body="Generate reliable, ready-to-use visuals."
				/>
				<Card
					href="https://www.rocketai.io/?ref=riseofmachine"
					title="RocketAI"
					body="Generate AI designs that capture your brand style."
				/>
				<Card
					href="https://www.rosebud.ai/?ref=riseofmachine"
					title="Rosebud AI"
					body="AI generated game assets to game development."
				/>
				<Card
					href="https://uizard.io/?ref=riseofmachine"
					title="Uizard"
					body="Design wireframes, mockups, and prototypes."
				/>
				<Card
					href="https://www.unboundcontent.ai/?ref=riseofmachine"
					title="Unbound"
					body="Create content for your business."
				/>
				<Card
					href="https://www.vizcom.ai/?ref=riseofmachine"
					title="Vizcom"
					body="The ideation and creation for industrial designers."
				/>		
			</ul>
		</section>

		<!-- Developer Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#128421; Developer Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://aws.amazon.com/codewhisperer/?ref=riseofmachine"
					title="Amazon CodeWhisperer"
					body="Generate code suggestions."
				/>				
				<Card
					href="https://www.autoregex.xyz/?ref=riseofmachine"
					title="AutoRegex"
					body="Effortless conversions from English to RegEx."
				/>
				<Card
					href="https://www.buildt.ai/?ref=riseofmachine"
					title="Buildt"
					body="Quickly search and understand large codebases."
				/>
				<Card
					href="https://csm.ai/?ref=riseofmachine"
					title="CSM"
					body="Translate data into 3D world models."
				/>
				<Card
					href="https://dust.tt/?ref=riseofmachine"
					title="Dust"
					body="Make and deploy large language model apps."
				/>
				<Card
					href="https://www.gptduck.com/?ref=riseofmachine"
					title="GPTDuck"
					body="Question answering against any Github repository."
				/>
				<Card
					href="https://gpux.ai/?ref=riseofmachine"
					title="GPUX"
					body="Run AI training dockerized."
				/>
				<Card
					href="https://www.helicone.ai/?ref=riseofmachine"
					title="Helicone"
					body="Track costs, usage, and latency for GPT applications."
				/>
				<Card
					href="https://lightning.ai/?ref=riseofmachine"
					title="Lightning"
					body="The platform to train, deploy and build AI with PyTorch."
				/>
				<Card
					href="https://liner.ai/?ref=riseofmachine"
					title="Liner"
					body="Build and deploy machine learning applications."
				/>
				<Card
					href="https://nuclia.com/?ref=riseofmachine"
					title="Nuclia"
					body="AI search and generative answers."
				/>
				<Card
					href="https://www.mystic.ai/pipeline-catalyst/?ref=riseofmachine"
					title="Pipeline Catalyst"
					body="Serverless GPU inference for ML models."
				/>
				<Card
					href="https://promptlayer.com/?ref=riseofmachine"
					title="PromptLayer"
					body="Log, search, & manage prompt templates."
				/>
				<Card
					href="https://retune.so/?ref=riseofmachine"
					title="Retune"
					body="Train & customize your own AI model, generate API."
				/>														
				<Card
					href="https://riku.ai/?ref=riseofmachine"
					title="Riku"
					body="Build no-code prompts and datasets for AI models."
				/>				
				<Card
					href="http://rtutor.ai/?ref=riseofmachine"
					title="RTutor"
					body="Chat with your data via AI."
				/>
				<Card
					href="https://www.runpod.io/?ref=riseofmachine"
					title="RunPod"
					body="Rent cloud GPUs from $0.2/hour."
				/>
				<Card
					href="https://www.shaped.ai/?ref=riseofmachine"
					title="Shaped"
					body="Recommendations and notifications using ML."
				/>
				<Card
					href="https://stability.ai/?ref=riseofmachine"
					title="Stable Diffusion"
					body="Image synthesis with latent diffusion models."
				/>
				<Card
					href="https://syntheticaidata.com/?ref=riseofmachine"
					title="Synthetic"
					body="Train and improve AI models."
				/>
				<Card
					href="https://teachablemachine.withgoogle.com/?ref=riseofmachine"
					title="Teachable Machine"
					body="Create ML models for your sites and apps."
				/>
				<Card
					href="https://www.textomap.com/?ref=riseofmachine"
					title="Textomap"
					body="Generate interactive maps from text."
				/>
				<Card
					href="https://tinq.ai/?ref=riseofmachine"
					title="Tinq"
					body="NLP API toolkit, NLP as a service."
				/>														
			</ul>
		</section>

		<!-- Productivity Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#128200; Productivity</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.springworks.in/albus/?ref=riseofmachine"
					title="Albus"
					body="Knowledge bot for Slack."
				/>
				<Card
					href="https://chatgptwriter.ai/?ref=riseofmachine"
					title="ChatGPT Writer"
					body="Generate emails and replies."
				/>
				<Card
					href="https://www.cognosys.ai/?ref=riseofmachine"
					title="CognosysAI"
					body="Web-based AI Agent."
				/>								
				<Card
					href="https://fireflies.ai/?ref=riseofmachine"
					title="Fireflies"
					body="Record, transcribe, search, & analyze voice convos."
				/>
				<Card
					href="https://flowgpt.com/?ref=riseofmachine"
					title="FlowGPT"
					body="Library of ChatGPT prompts."
				/>
				<Card
					href="https://www.glean.com/?ref=riseofmachine"
					title="Glean"
					body="Search all company apps."
				/>
				<Card
					href="https://maester.app/?ref=riseofmachine"
					title="Maester"
					body="GPT-3 template engine."
				/>													
				<Card
					href="https://get.mem.ai/?ref=riseofmachine"
					title="Mem"
					body="Organize work—from meeting notes & knowledge base."
				/>
				<Card
					href="https://merlin.foyer.work/?ref=riseofmachine"
					title="Merlin"
					body="Finish any task on any website."
				/>
				<Card
					href="https://nanonets.com/?ref=riseofmachine"
					title="Nanonets"
					body="Capture data from documents."
				/>
				<Card
					href="https://noty.ai/?ref=riseofmachine"
					title="Noty"
					body="Meetings into action items & follow-ups."
				/>
				<Card
					href="https://otter.ai/?ref=riseofmachine"
					title="Otter"
					body="AI meeting assistant."
				/>
				<Card
					href="https://www.personal.ai/?ref=riseofmachine"
					title="Personal"
					body="Personal AI messenger."
				/>
				<Card
					href="https://puzzlelabs.ai/?ref=riseofmachine"
					title="Puzzle Labs"
					body="Glossary for your product."
				/>												<Card
					href="https://reclaim.ai/?ref=riseofmachine"
					title="Reclaim AI"
					body="Smart calendar tool."
				/>
				<Card
					href="https://www.rewind.ai/?ref=riseofmachine"
					title="Rewind AI"
					body="Find anything you have seen, said, or heard."
				/>
				<Card
					href="https://scale.com/?ref=riseofmachine"
					title="Scale AI"
					body="Training data for AI applications."
				/>
				<Card
					href="https://www.slidesai.io/?ref=riseofmachine"
					title="SlidesAI"
					body="Create slides from any text."
				/>
				<Card
					href="https://summereyes.ai/?ref=riseofmachine"
					title="SummerEyes"
					body="Summarize any text on the internet."
				/>															
				<Card
					href="https://supernormal.com/?ref=riseofmachine"
					title="Supernormal"
					body="Create meeting notes."
				/>
				<Card
					href="https://texti.app/?ref=riseofmachine"
					title="Texti"
					body="AI helper in your browser."
				/>								
			</ul>
		</section>

		<!-- Prompts -->
		<section>
			<h6 class="separator nu-c-h6">&#128172; Prompts</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.dallelist.com/?ref=riseofmachine"
					title="Dallelist"
					body="DALL-E prompt helper."
				/>
				<Card
					href="https://eyeforai.xyz/?ref=riseofmachine"
					title="Eye for AI"
					body="Visual prompt builder."
				/>
				<Card
					href="https://replicate.com/methexis-inc/img2prompt/?ref=riseofmachine"
					title="Img2prompt"
					body="Image to prompt."
				/>
				<Card
					href="https://www.jrnylist.com/?ref=riseofmachine"
					title="Jrnylist"
					body="Midjourney prompt helper."
				/>
				<Card
					href="https://www.krea.ai/?ref=riseofmachine"
					title="Krea"
					body="Create collections of prompts."
				/>
				<Card
					href="https://openart.ai/?ref=riseofmachine"
					title="OpenArt"
					body="Discover 10M+ prompts."
				/>
				<Card
					href="https://promptbase.com/?ref=riseofmachine"
					title="PromptBase"
					body="Marketplace for GPT3 prompts."
				/>
				<Card
					href="https://www.promptbox.ai/?ref=riseofmachine"
					title="PromptBox"
					body="Organize your prompts."
				/>
				<Card
					href="https://prompthero.com/?ref=riseofmachine"
					title="PromptHero"
					body="Prompts for Stable Diffusion, ChatGPT, & Midjourney."
				/>
				<Card
					href="https://promptlayer.com/?ref=riseofmachine"
					title="PromptLayer"
					body="Log, search, & manage prompt templates."
				/>																	
			</ul>
		</section>

</main>
</Layout>

<style>
	h6.separator {
		margin: 1rem 0;
		color: var(--text-secondary);
		display: table;
  		white-space: nowrap;
		overflow: hidden;
	}
	h6.separator:after {
		border-top: 1px dotted var(--border);
		content: '';
		display: table-cell;
		position: relative;
		top: var(--spacing-06);
		width: 100%;
	}
	h6.separator:before {
		right: 1%;
	}
	h6.separator:after {
		left: 1%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: var(--spacing-02);
		padding: 0;
	}
</style>
