---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="Rise of Machine"
  title="Make the Most of It"
  tagline="Discover AI tools curated for makers and SMBs."
>
  <main>
    <Dashboard client:load category='all' />
  </main>
</Layout>
