---
import Layout from "../layouts/Layout.astro";

import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="Rise of Machine"
  title="Make the most of it."
  tagline="Old bookmarks were freaking out, drowning in existential tears because these AI chicks hatched faster than pop-up ads on a news site. So I said, Screw it, and built this site where these brainy birds can reside."
>
  <main>
    <Dashboard client:load />
  </main>
</Layout>

<style>
  h6.separator {
    margin: 1rem 0;
    color: var(--text-secondary);
    display: table;
  }
  h6.separator:after {
    border-top: 2px dotted var(--border-muted);
    content: "";
    display: table-cell;
    position: relative;
    top: var(--spacing-06);
    width: 100%;
  }
  h6.separator:before {
    right: 1%;
  }
  h6.separator:after {
    left: 1%;
  }
</style>