---
import Layout from "../layouts/Layout.astro";

import "@new-ui/reset";
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="Rise of Machine"
  title="Make the Most of It"
  tagline="Discover 300+ AI tools curated for makers and SMBs."
>
  <main>
    <Dashboard client:load />
  </main>
</Layout>
