---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
---

<Layout title="Rise of Machine — A curated list of powerful AI tools.">
<main>
		<h1 class="nu-c-h3 title">A Curated List of
		<br />Powerful AI Tools</h1>

		<!-- Audio tools -->
		<section>
		<h6 class="separator nu-c-h6">&#127899; Audio</h6>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://podcast.adobe.com/?ref=riseofmachine"
				title="Adobe Podcast"
				body="Audio recording & editing."
				tag="Beta"
			/>
			<Card
				href="https://www.altered.ai/?ref=riseofmachine"
				title="Altered"
				body="Change your voice to AI voices."
				tag="Starting at $49/mo"
			/>			
			<Card
				href="https://www.audiostrip.co.uk/?ref=riseofmachine"
				title="AudioStrip"
				body="Split vocals from backing music."
				tag="Starting at $0/mo"
			/>
			<Card
				href="https://www.beatoven.ai/?ref=riseofmachine"
				title="Beatoven"
				body="Create customisable royalty free music."
				tag="Starting at $0/mo"
			/>
			<Card
				href="https://blogaudio.co/?ref=riseofmachine"
				title="BlogAudio"
				body="Convert text to high quality audio speech."
				tag="Starting at $16/mo"
			/>			
			<Card
				href="https://cleanvoice.ai/?ref=riseofmachine"
				title="Cleanvoice"
				body="Removes filler sounds, stuttering & mouth sounds."
				tag="Pay-as-you-go"
			/>
			<Card
				href="https://krisp.ai/?ref=riseofmachine"
				title="Krisp"
				body="Voice clarity & meeting assistant."
				tag="Starting at $0/mo"
			/>
			<Card
				href="https://www.lalal.ai/?ref=riseofmachine"
				title="Lalal"
				body="Split vocal & instrumental tracks."
				tag="Starting at $0/mo"
			/>
			<Card
				href="https://podcastle.ai/?ref=riseofmachine"
				title="Podcastle"
				body="Record, edit, transcribe & export content."
				tag="Starting at $0/mo"
			/>											
			<Card
				href="https://www.voicemod.net/?ref=riseofmachine"
				title="Voicemod"
				body="Real-time AI voice changing & custom sound effects."
				tag="Freemium"
			/>
		</ul>
		</section>

		<!-- Copywriting tools -->
		<section>
			<h6 class="separator nu-c-h6">&#9997; Copywriting</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://anyword.com/?ref=riseofmachine"
					title="Anyword"
					body="On-brand copywriting."
					tag="Starting at $24/mo"
				/>
				<Card
					href="https://bertha.ai/?ref=riseofmachine"
					title="Bertha"
					body="Copywriting assistant for WordPress & in Chrome."
					tag="Pay-as-you-go"
				/>
				<Card
					href="https://www.botowski.com/?ref=riseofmachine"
					title="Botowski"
					body="Content generator."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://www.closerscopy.com/?ref=riseofmachine"
					title="Closerscopy"
					body="Copywriting robot."
					tag="Starting at $49.99/mo"
				/>
				<Card
					href="https://www.contents.com/?ref=riseofmachine"
					title="Contents"
					body="Create original, SEO-optimized content."
					tag="Pay-as-you-go"
				/>
				<Card
					href="https://cowriter.org/?ref=riseofmachine"
					title="Cowriter"
					body="Platform for creative writing."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://www.copy.ai/?ref=riseofmachine"
					title="CopyAI"
					body="Content generator."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://copymatic.ai/?ref=riseofmachine"
					title="Copymatic"
					body="Generate content, copy & images."
					tag="Starting at $19/mo"
				/>
				<Card
					href="https://www.daydrm.ai/?ref=riseofmachine"
					title="Daydrm"
					body="For creative advertising ideas."
					tag="Starting at $19/mo"
				/>
				<Card
					href="https://easy-peasy.ai/?ref=riseofmachine"
					title="Easy-Peasy"
					body="Generate content."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://www.helloscribe.ai/?ref=riseofmachine"
					title="HelloScribe"
					body="Toolkit for PR & marketing professionals."
					tag="Starting at $49/mo"
				/>
				<Card
					href="https://www.hypotenuse.ai/?ref=riseofmachine"
					title="Hypotenuse"
					body="Writing assistant & text generator."
					tag="Starting at $24/mo"
				/>
				<Card
					href="https://www.jasper.ai/?ref=riseofmachine"
					title="Jasper"
					body="Create on-brand content."
					tag="Starting at $39/mo"
				/>
				<Card
					href="https://lek.ai/?ref=riseofmachine"
					title="Lek"
					body="Toolkit for generating content."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://www.ocoya.com/?ref=riseofmachine"
					title="Ocoya"
					body="Create & post social media content."
					tag="Starting at $15/mo"
				/>
				<Card
					href="https://paragraphai.com/?ref=riseofmachine"
					title="ParagraphAI"
					body="Writing assistant."
					tag="Starting at $9/mo"
				/>
				<Card
					href="https://www.peppercontent.io/peppertype-ai/?ref=riseofmachine"
					title="Pepper Content"
					body="Ideate, create, distribute & measure content."
					tag="Starting at $399/mo"
				/>
				<Card
					href="https://rytr.me/?ref=riseofmachine"
					title="Rytr"
					body="Writing assistant."
					tag="Freemium"
				/>
				<Card
					href="https://simplified.com/ai-writer/?ref=riseofmachine"
					title="Simplified"
					body="Generate marketing copy."
					tag="Freemium"
				/>
				<Card
					href="https://text-gen.com/?ref=riseofmachine"
					title="Text Generator Plugin"
					body="Free alternative to Copy.ai, Jasper & Rytr."
					tag="Open-source"
				/>				
				<Card
					href="https://texti.app/?ref=riseofmachine"
					title="Texti"
					body="Helper in your browser."
					tag="Free extension"
				/>
				<Card
					href="https://typli.ai/?ref=riseofmachine"
					title="Typli"
					body="Writing assistant with built-in SEO checker."
					tag="Starting at $29/mo"
				/>
				<Card
					href="https://writesonic.com/?ref=riseofmachine"
					title="Writesonic"
					body="Writer, copywriting & paraphrasing tool."
					tag="Starting at $0/mo"
				/>
				<Card
					href="https://unbounce.com/product/smart-copy/?ref=riseofmachine"
					title="Unbounce"
					body="Generate marketing content."
					tag="Freemium"
				/>
				<Card
					href="https://www.unboundcontent.ai/?ref=riseofmachine"
					title="Unbound"
					body="Create content for your business."
					tag="Starting at $0/mo"
				/>
			</ul>
		</section>

		<!-- Design tools -->
		<section>
			<h6 class="separator nu-c-h6">&#127912; Design Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.befunky.com/?ref=riseofmachine"
					title="BeFunky"
					body="Edit photos, create graphics & make photo collages."
					tag="TBA"
				/>
				<Card
					href="https://www.booth.ai/?ref=riseofmachine"
					title="Booth.AI"
					body="Create product photography."
					tag="TBA"
				/>
				<Card
					href="https://bria.ai/?ref=riseofmachine"
					title="Bria"
					body="Create customized visual content at scale."
					tag="TBA"
				/>				
				<Card
					href="https://www.clickable.so/?ref=riseofmachine"
					title="Clickable"
					body="Generate ads for marketing channels."
					tag="TBA"
				/>
				<Card
					href="https://clipdrop.co/?ref=riseofmachine"
					title="Clipdrop"
					body="Create visuals without a photo studio."
					tag="TBA"
				/>
				<Card
					href="https://designs.ai/?ref=riseofmachine"
					title="DesignsAI"
					body="Create logos, videos, banners & mockups."
					tag="TBA"
				/>	
				<Card
					href="https://diagram.com/?ref=riseofmachine"
					title="Diagram"
					body="Generative design tool kit."
					tag="TBA"
				/>											
				<Card
					href="https://flair.ai/?ref=riseofmachine?ref=riseofmachine"
					title="Flair"
					body="Design tool for branded content."
					tag="TBA"
				/>
				<Card
					href="https://hotpot.ai/?ref=riseofmachine"
					title="Hotpot"
					body="Create graphics, pictures & writing."
					tag="TBA"
				/>
				<Card
					href="https://www.illostration.com/?ref=riseofmachine"
					title="Illostration AI"
					body="Create illustrations."
					tag="TBA"
				/>
				<Card
					href="https://illustroke.com/?ref=riseofmachine"
					title="Illustroke"
					body="Create vector illustrations from text prompts."
					tag="TBA"
				/>
				<Card
					href="https://www.kittl.com/?ref=riseofmachine"
					title="Kittl"
					body="Design tool."
					tag="TBA"
				/>				
				<Card
					href="https://magician.design/?ref=riseofmachine"
					title="Magician"
					body="Generate icons, copies & images in Figma."
					tag="TBA"
				/>											
				<Card
					href="https://designer.microsoft.com/?ref=riseofmachine"
					title="Microsoft Designer"
					body="Generate designs & original images."
					tag="TBA"
				/>
				<Card
					href="https://patternmakerai.com/?ref=riseofmachine"
					title="Pattern Maker AI"
					body="Generate seamless vector patterns."
					tag="TBA"
				/>
				<Card
					href="https://www.patterned.ai/?ref=riseofmachine"
					title="Patterned AI"
					body="Generate unique patterns for your product."
					tag="TBA"
				/>
				<Card
					href="https://www.pictorial.ai/?ref=riseofmachine"
					title="Pictorial"
					body="Generate reliable, ready-to-use visuals."
					tag="TBA"
				/>
				<Card
					href="https://www.rocketai.io/?ref=riseofmachine"
					title="RocketAI"
					body="Generate designs that capture your brand style."
					tag="TBA"
				/>
				<Card
					href="https://www.rosebud.ai/?ref=riseofmachine"
					title="Rosebud AI"
					body="Game assets to game development."
					tag="TBA"
				/>
				<Card
					href="https://uizard.io/?ref=riseofmachine"
					title="Uizard"
					body="Design wireframes, mockups & prototypes."
					tag="TBA"
				/>
				<Card
					href="https://www.unboundcontent.ai/?ref=riseofmachine"
					title="Unbound"
					body="Create content for your business."
					tag="TBA"
				/>
				<Card
					href="https://www.vizcom.ai/?ref=riseofmachine"
					title="Vizcom"
					body="Ideation & creation for industrial designers."
					tag="TBA"
				/>		
			</ul>
		</section>

		<!-- Developer tools -->
		<section>
			<h6 class="separator nu-c-h6">&#128421; Developer Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://aws.amazon.com/codewhisperer/?ref=riseofmachine"
					title="Amazon CodeWhisperer"
					body="Generate code suggestions."
					tag="TBA"
				/>				
				<Card
					href="https://www.autoregex.xyz/?ref=riseofmachine"
					title="AutoRegex"
					body="Effortless conversions from English to RegEx."
					tag="TBA"
				/>
				<Card
					href="https://github.com/postman-open-technologies/bingchain/?ref=riseofmachine"
					title="BingChain"
					body="Langchain/AutoGPT alternative in ~300 lines of core code."
					tag="TBA"
				/>				
				<Card
					href="https://www.buildt.ai/?ref=riseofmachine"
					title="Buildt"
					body="Quickly search & understand large codebases."
					tag="TBA"
				/>
				<Card
					href="https://csm.ai/?ref=riseofmachine"
					title="CSM"
					body="Translate data into 3D world models."
					tag="TBA"
				/>
				<Card
					href="https://dust.tt/?ref=riseofmachine"
					title="Dust"
					body="Make & deploy large language model apps."
					tag="TBA"
				/>
				<Card
					href="https://www.gptduck.com/?ref=riseofmachine"
					title="GPTDuck"
					body="Question answering against any Github repository."
					tag="TBA"
				/>
				<Card
					href="https://gpux.ai/?ref=riseofmachine"
					title="GPUX"
					body="Run AI training dockerized."
					tag="TBA"
				/>
				<Card
					href="https://www.helicone.ai/?ref=riseofmachine"
					title="Helicone"
					body="Track costs, usage & latency for GPT applications."
					tag="TBA"
				/>
				<Card
					href="https://lightning.ai/?ref=riseofmachine"
					title="Lightning"
					body="Train, deploy & build AI with PyTorch."
					tag="TBA"
				/>
				<Card
					href="https://liner.ai/?ref=riseofmachine"
					title="Liner"
					body="Build & deploy ML applications."
					tag="TBA"
				/>
				<Card
					href="https://nuclia.com/?ref=riseofmachine"
					title="Nuclia"
					body="Search & generative answers."
					tag="TBA"
				/>
				<Card
					href="https://www.mystic.ai/pipeline-catalyst/?ref=riseofmachine"
					title="Pipeline Catalyst"
					body="Serverless GPU inference for ML models."
					tag="TBA"
				/>
				<Card
					href="https://promptlayer.com/?ref=riseofmachine"
					title="PromptLayer"
					body="Log, search & manage prompt templates."
					tag="TBA"
				/>
				<Card
					href="https://retune.so/?ref=riseofmachine"
					title="Retune"
					body="Train & customize your own AI model, generate API."
					tag="TBA"
				/>													
				<Card
					href="https://riku.ai/?ref=riseofmachine"
					title="Riku"
					body="Build no-code prompts & datasets for AI models."
					tag="TBA"
				/>				
				<Card
					href="http://rtutor.ai/?ref=riseofmachine"
					title="RTutor"
					body="Chat with your data via AI."
					tag="TBA"
				/>
				<Card
					href="https://www.runpod.io/?ref=riseofmachine"
					title="RunPod"
					body="Rent cloud GPUs from $0.2/hour."
					tag="TBA"
				/>
				<Card
					href="https://www.shaped.ai/?ref=riseofmachine"
					title="Shaped"
					body="Recommendations & notifications using ML."
					tag="TBA"
				/>
				<Card
					href="https://stability.ai/?ref=riseofmachine"
					title="Stable Diffusion"
					body="Image synthesis with latent diffusion models."
					tag="TBA"
				/>
				<Card
					href="https://syntheticaidata.com/?ref=riseofmachine"
					title="Synthetic"
					body="Train & improve AI models."
					tag="TBA"
				/>
				<Card
					href="https://teachablemachine.withgoogle.com/?ref=riseofmachine"
					title="Teachable Machine"
					body="Create ML models for your sites & apps."
					tag="TBA"
				/>
				<Card
					href="https://www.textomap.com/?ref=riseofmachine"
					title="Textomap"
					body="Generate interactive maps from text."
					tag="TBA"
				/>
				<Card
					href="https://tinq.ai/?ref=riseofmachine"
					title="Tinq"
					body="NLP API toolkit, NLP as a service."
					tag="TBA"
				/>														
			</ul>
		</section>

		<!-- Image editing tools-->
		<section>
			<h6 class="separator nu-c-h6">&#127748; Image Editing</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://imglarger.com/?ref=riseofmachine"
					title="AI Image Enlarger"
					body="Enhance & upscale images."
					tag="TBA"
				/>
				<Card
					href="https://www.astria.ai/?ref=riseofmachine"
					title="Astria"
					body="Create custom images."
					tag="TBA"
				/>
				<Card
					href="https://www.befunky.com/?ref=riseofmachine"
					title="BeFunky"
					body="Edit photos, create graphics & make photo collages."
					tag="TBA"
				/>
				<Card
					href="https://bgeraser.com/?ref=riseofmachine"
					title="Bg Eraser"
					body="Remove objects & clean up pics."
					tag="TBA"
				/>
				<Card
					href="https://bria.ai/?ref=riseofmachine"
					title="Bria"
					body="Create customized visual content at scale."
					tag="TBA"
				/>
				<Card
					href="https://www.erase.bg/?ref=riseofmachine"
					title="Erase Bg"
					body="Remove background from images."
					tag="TBA"
				/>
				<Card
					href="https://getimg.ai/editor/?ref=riseofmachine"
					title="Getimg AI"
					body="Edit images with text."
					tag="TBA"
				/>
				<Card
					href="https://greenscreenai.com/?ref=riseofmachine"
					title="Green Screen AI"
					body="Change the background of any image."
					tag="TBA"
				/>
				<Card
					href="https://www.hama.app/?ref=riseofmachine"
					title="Hama"
					body="Erase objects from your photo."
					tag="TBA"
				/>
				<Card
					href="https://letsenhance.io/?ref=riseofmachine"
					title="Let’s Enhance"
					body="Enhance, upscale & generate pictures."
					tag="TBA"
				/>
				<Card
					href="https://magicstudio.com/magiceraser/?ref=riseofmachine"
					title="Magic Eraser"
					body="Remove unwanted things."
					tag="TBA"
				/>
				<Card
					href="https://www.nostalgia.photo/?ref=riseofmachine"
					title="Nostalgia Photo"
					body="Restore old photographs."
					tag="TBA"
				/>
				<Card
					href="https://palette.fm/?ref=riseofmachine"
					title="Palette"
					body="Colorize pictures."
					tag="TBA"
				/>
				<Card
					href="https://www.photoroom.com/?ref=riseofmachine"
					title="PhotoRoom"
					body="Remove and change background."
					tag="TBA"
				/>
				<Card
					href="https://www.remove.bg/?ref=riseofmachine"
					title="Removebg"
					body="Remove image background."
					tag="TBA"
				/>
				<Card
					href="https://www.restorephotos.io/?ref=riseofmachine"
					title="Restore Photos"
					body="Restoring old photos."
					tag="TBA"
				/>
				<Card
					href="https://www.topazlabs.com/topaz-photo-ai/?ref=riseofmachine"
					title="Topaz Photo AI"
					body="Noise reduction, sharpening & upscaling."
					tag="TBA"
				/>												
			</ul>
			</section>		

		<!-- Productivity tools -->
		<section>
			<h6 class="separator nu-c-h6">&#128200; Productivity</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.springworks.in/albus/?ref=riseofmachine"
					title="Albus"
					body="Knowledge bot for Slack."
					tag="TBA"
				/>
				<Card
					href="https://chatgptwriter.ai/?ref=riseofmachine"
					title="ChatGPT Writer"
					body="Generate emails & replies."
					tag="TBA"
				/>
				<Card
					href="https://www.cognosys.ai/?ref=riseofmachine"
					title="CognosysAI"
					body="Web-based AI Agent."
					tag="TBA"
				/>								
				<Card
					href="https://fireflies.ai/?ref=riseofmachine"
					title="Fireflies"
					body="Record, transcribe, search & analyze voice convos."
					tag="TBA"
				/>
				<Card
					href="https://flowgpt.com/?ref=riseofmachine"
					title="FlowGPT"
					body="Library of ChatGPT prompts."
					tag="TBA"
				/>
				<Card
					href="https://gamma.app/?ref=riseofmachine"
					title="Gamma"
					body="Generate docs, decks & webpages."
					tag="TBA"
				/>				
				<Card
					href="https://www.glean.com/?ref=riseofmachine"
					title="Glean"
					body="Search all company apps."
					tag="TBA"
				/>
				<Card
					href="https://maester.app/?ref=riseofmachine"
					title="Maester"
					body="GPT-3 template engine."
					tag="TBA"
				/>
				<Card
					href="https://magical.so/?ref=riseofmachine"
					title="Magical"
					body="Schedule, coordinate & automate your meetings."
					tag="TBA"
				/>													
				<Card
					href="https://get.mem.ai/?ref=riseofmachine"
					title="Mem"
					body="Organize work—from meeting notes & knowledge base."
					tag="TBA"
				/>
				<Card
					href="https://get.mem.ai/?ref=riseofmachine"
					title="Monica"
					body="AI assistant for chatting & copywriting."
					tag="TBA"
				/>				
				<Card
					href="https://merlin.foyer.work/?ref=riseofmachine"
					title="Merlin"
					body="Finish any task on any website."
					tag="TBA"
				/>
				<Card
					href="https://nanonets.com/?ref=riseofmachine"
					title="Nanonets"
					body="Capture data from documents."
					tag="TBA"
				/>
				<Card
					href="https://noty.ai/?ref=riseofmachine"
					title="Noty"
					body="Meetings into action items & follow-ups."
					tag="TBA"
				/>
				<Card
					href="https://otter.ai/?ref=riseofmachine"
					title="Otter"
					body="Meeting assistant."
					tag="TBA"
				/>
				<Card
					href="https://www.personal.ai/?ref=riseofmachine"
					title="Personal"
					body="Personal AI messenger."
					tag="TBA"
				/>
				<Card
					href="https://puzzlelabs.ai/?ref=riseofmachine"
					title="Puzzle Labs"
					body="Glossary for your product."
					tag="TBA"
				/>												
				<Card
					href="https://reclaim.ai/?ref=riseofmachine"
					title="Reclaim AI"
					body="Smart calendar tool."
					tag="TBA"
				/>
				<Card
					href="https://www.rewind.ai/?ref=riseofmachine"
					title="Rewind AI"
					body="Find anything you have seen, said, or heard."
					tag="TBA"
				/>
				<Card
					href="https://scale.com/?ref=riseofmachine"
					title="Scale AI"
					body="Training data for AI apps."
					tag="TBA"
				/>
				<Card
					href="https://www.slidesai.io/?ref=riseofmachine"
					title="SlidesAI"
					body="Create slides from any text."
					tag="TBA"
				/>
				<Card
					href="https://summereyes.ai/?ref=riseofmachine"
					title="SummerEyes"
					body="Summarize any text on the internet."
					tag="TBA"
				/>													
				<Card
					href="https://supernormal.com/?ref=riseofmachine"
					title="Supernormal"
					body="Create meeting notes."
					tag="TBA"
				/>
				<Card
					href="https://texti.app/?ref=riseofmachine"
					title="Texti"
					body="Helper in your browser."
					tag="TBA"
				/>
				<Card
					href="https://tldv.io/?ref=riseofmachine"
					title="Tldv"
					body="Transcribe & summarize your meetings."
					tag="TBA"
				/>												
			</ul>
		</section>

		<!-- Prompts -->
		<section>
			<h6 class="separator nu-c-h6">&#128172; Prompts</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.dallelist.com/?ref=riseofmachine"
					title="Dallelist"
					body="DALL-E prompt helper."
					tag="TBA"
				/>
				<Card
					href="https://eyeforai.xyz/?ref=riseofmachine"
					title="Eye for AI"
					body="Visual prompt builder."
					tag="TBA"
				/>
				<Card
					href="https://replicate.com/methexis-inc/img2prompt/?ref=riseofmachine"
					title="Img2prompt"
					body="Image to prompt."
					tag="TBA"
				/>
				<Card
					href="https://www.jrnylist.com/?ref=riseofmachine"
					title="Jrnylist"
					body="Midjourney prompt helper."
					tag="TBA"
				/>
				<Card
					href="https://www.krea.ai/?ref=riseofmachine"
					title="Krea"
					body="Create collections of prompts."
					tag="TBA"
				/>
				<Card
					href="https://openart.ai/?ref=riseofmachine"
					title="OpenArt"
					body="Discover 10M+ prompts."
					tag="TBA"
				/>
				<Card
					href="https://promptbase.com/?ref=riseofmachine"
					title="PromptBase"
					body="Marketplace for GPT3 prompts."
					tag="TBA"
				/>
				<Card
					href="https://www.promptbox.ai/?ref=riseofmachine"
					title="PromptBox"
					body="Organize your prompts."
					tag="TBA"
				/>
				<Card
					href="https://prompthero.com/?ref=riseofmachine"
					title="PromptHero"
					body="Prompts for Stable Diffusion, ChatGPT & Midjourney."
					tag="TBA"
				/>
				<Card
					href="https://promptlayer.com/?ref=riseofmachine"
					title="PromptLayer"
					body="Log, search & manage prompt templates."
					tag="TBA"
				/>																	
			</ul>
		</section>

</main>
</Layout>

<style>
	h6.separator {
		margin: 1rem 0;
		color: var(--text-secondary);
		display: table;
  		white-space: nowrap;
		overflow: hidden;
	}
	h6.separator:after {
		border-top: 1px dotted var(--border);
		content: '';
		display: table-cell;
		position: relative;
		top: var(--spacing-06);
		width: 100%;
	}
	h6.separator:before {
		right: 1%;
	}
	h6.separator:after {
		left: 1%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: var(--spacing-02);
		padding: var(--spacing-00);
	}
</style>
