---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
---

<Layout title="Rise of Machine">
<main>
		<h1 class="nu-c-h1 title">A Curated List of
		<br /> Powerful AI Tools</h1>

		<!-- Audio Tools -->
		<section>
		<h6 class="separator nu-c-h6">&#127899; Audio</h6>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://podcast.adobe.com/?ref=riseofmachine"
				title="Adobe Podcast"
				body="AI-powered audio recording and editing."
			/>
			<Card
			href="https://www.audiostrip.co.uk/?ref=riseofmachine"
			title="AudioStrip"
			body="Split vocals from backing music in audio files."
			/>
			<Card
				href="https://www.beatoven.ai/?ref=riseofmachine"
				title="Beatoven"
				body="Create customisable royalty free music."
			/>
			<Card
			href="https://cleanvoice.ai/?ref=riseofmachine"
			title="Cleanvoice"
			body="Removes filler sounds, stuttering and mouth sounds."
			/>
			<Card
				href="https://www.voicemod.net/?ref=riseofmachine"
				title="Voicemod"
				body="Real-time AI voice changing and custom sound effects."
			/>
		</ul>
		</section>

		<!-- Copywriting Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#9997; Copywriting</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.copy.ai/?ref=riseofmachine"
					title="CopyAI"
					body="AI content generator."
				/>
				<Card
					href="https://copymatic.ai/?ref=riseofmachine"
					title="Copymatic"
					body="Generate content, copy & images with AI."
				/>
				<Card
				href="https://www.jasper.ai/?ref=riseofmachine"
				title="Jasper"
				body="Create on-brand AI content."
				/>
				<Card
					href="https://rytr.me/?ref=riseofmachine"
					title="Rytr"
					body="AI writing assistant."
				/>
			</ul>
		</section>

		<!-- Design Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#127912; Design Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://www.befunky.com/?ref=riseofmachine"
					title="BeFunky"
					body="Edit photos, create graphics, & make photo collages."
				/>
				<Card
					href="https://www.booth.ai/?ref=riseofmachine"
					title="Booth.AI"
					body="Create pro quality product photography with AI."
				/>
				<Card
					href="https://www.booth.ai/?ref=riseofmachine"
					title="Bria"
					body="Create customized visual content at scale."
				/>				
				<Card
					href="https://www.clickable.so/?ref=riseofmachine"
					title="Clickable"
					body="Generate ads for marketing channels."
				/>
				<Card
					href="https://clipdrop.co/?ref=riseofmachine"
					title="Clipdrop"
					body="Create professional visuals without a photo studio."
				/>
				<Card
					href="https://designs.ai/?ref=riseofmachine"
					title="DesignsAI"
					body="Create logos, videos, banners, mockups with AI."
				/>	
				<Card
					href="https://diagram.com/?ref=riseofmachine"
					title="Diagram"
					body="Generative design tool kit."
				/>											
				<Card
					href="https://flair.ai/?ref=riseofmachine?ref=riseofmachine"
					title="Flair"
					body="The AI design tool for branded content."
				/>
				<Card
					href="https://hotpot.ai/?ref=riseofmachine"
					title="Hotpot"
					body="Create graphics, pictures, and writing."
				/>
				<Card
					href="https://www.illostration.com/?ref=riseofmachine"
					title="Illostration AI"
					body="Create AI-generated illustrations."
				/>
				<Card
					href="https://illustroke.com/?ref=riseofmachine"
					title="Illustroke"
					body="Create vector illustrations from text prompts."
				/>
				<Card
					href="https://magician.design/?ref=riseofmachine"
					title="Magician"
					body="Generate icons, copies, and images in Figma."
				/>											<Card
					href="https://designer.microsoft.com/?ref=riseofmachine"
					title="Microsoft Designer"
					body="Generate designs and original images."
				/>
				<Card
					href="https://patternmakerai.com/?ref=riseofmachine"
					title="Pattern Maker AI"
					body="Generate seamless vector patterns using AI."
				/>
				<Card
					href="https://www.patterned.ai/?ref=riseofmachine"
					title="Patterned AI"
					body="Generate unique patterns for your product using AI."
				/>
				<Card
					href="https://www.pictorial.ai/?ref=riseofmachine"
					title="Pictorial"
					body="Generate reliable, ready-to-use visuals."
				/>
				<Card
					href="https://www.rocketai.io/?ref=riseofmachine"
					title="RocketAI"
					body="Generate AI designs that capture your brand style."
				/>
				<Card
					href="https://www.rosebud.ai/?ref=riseofmachine"
					title="Rosebud AI"
					body="AI generated game assets to game development."
				/>
				<Card
					href="https://uizard.io/?ref=riseofmachine"
					title="Uizard"
					body="Design wireframes, mockups, and prototypes."
				/>
				<Card
					href="https://www.unboundcontent.ai/?ref=riseofmachine"
					title="Unbound"
					body="Create content for your business."
				/>
				<Card
					href="https://www.vizcom.ai/?ref=riseofmachine"
					title="Vizcom"
					body="The ideation and creation for industrial designers."
				/>		
			</ul>
		</section>

		<!-- Developer Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#129520; Developer Tools</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://aws.amazon.com/codewhisperer/?ref=riseofmachine"
					title="Amazon CodeWhisperer"
					body="Generate code suggestions."
				/>				
				<Card
					href="https://www.autoregex.xyz/?ref=riseofmachine"
					title="AutoRegex"
					body="Effortless conversions from English to RegEx."
				/>
				<Card
					href="https://www.buildt.ai/?ref=riseofmachine"
					title="Buildt"
					body="Quickly search and understand large codebases."
				/>
				<Card
					href="https://csm.ai/?ref=riseofmachine"
					title="CSM"
					body="Translate data into 3D world models."
				/>
				<Card
					href="https://dust.tt/?ref=riseofmachine"
					title="Dust"
					body="Make and deploy large language model apps."
				/>
				<Card
					href="https://www.gptduck.com/?ref=riseofmachine"
					title="GPTDuck"
					body="Question answering against any Github repository."
				/>
				<Card
					href="https://gpux.ai/?ref=riseofmachine"
					title="GPUX"
					body="Run AI training dockerized."
				/>
				<Card
					href="https://www.helicone.ai/?ref=riseofmachine"
					title="Helicone"
					body="Track costs, usage, and latency for GPT applications."
				/>
				<Card
					href="https://lightning.ai/?ref=riseofmachine"
					title="Lightning"
					body="The platform to train, deploy and build AI with PyTorch."
				/>
				<Card
					href="https://liner.ai/?ref=riseofmachine"
					title="Liner"
					body="Build and deploy machine learning applications."
				/>
				<Card
					href="https://nuclia.com/?ref=riseofmachine"
					title="Nuclia"
					body="AI search and generative answers."
				/>
				<Card
					href="https://www.mystic.ai/pipeline-catalyst/?ref=riseofmachine"
					title="Pipeline Catalyst"
					body="Serverless GPU inference for ML models."
				/>
				<Card
					href="https://promptlayer.com/?ref=riseofmachine"
					title="PromptLayer"
					body="Log, search, and manage prompt templates."
				/>
				<Card
					href="https://retune.so/?ref=riseofmachine"
					title="Retune"
					body="Train & customize your own AI model, generate API."
				/>														
				<Card
					href="https://riku.ai/?ref=riseofmachine"
					title="Riku"
					body="Build no-code prompts and datasets for AI models."
				/>				
				<Card
					href="http://rtutor.ai/?ref=riseofmachine"
					title="RTutor"
					body="Chat with your data via AI."
				/>
				<Card
					href="https://www.runpod.io/?ref=riseofmachine"
					title="RunPod"
					body="Rent cloud GPUs from $0.2/hour."
				/>
				<Card
					href="https://www.shaped.ai/?ref=riseofmachine"
					title="Shaped"
					body="Recommendations and notifications using ML."
				/>
				<Card
					href="https://stability.ai/?ref=riseofmachine"
					title="Stable Diffusion"
					body="Image synthesis with latent diffusion models."
				/>
				<Card
					href="https://syntheticaidata.com/?ref=riseofmachine"
					title="Synthetic"
					body="Train and improve AI models."
				/>
				<Card
					href="https://teachablemachine.withgoogle.com/?ref=riseofmachine"
					title="Teachable Machine"
					body="Create ML models for your sites and apps."
				/>
				<Card
					href="https://www.textomap.com/?ref=riseofmachine"
					title="Textomap"
					body="Generate interactive maps from text."
				/>
				<Card
					href="https://tinq.ai/?ref=riseofmachine"
					title="Tinq"
					body="NLP API toolkit, NLP as a service."
				/>														
			</ul>
		</section>

		<!-- Productivity Tools -->
		<section>
			<h6 class="separator nu-c-h6">&#128200; Productivity</h6>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://fireflies.ai/?ref=riseofmachine"
					title="Fireflies"
					body="Record, transcribe, search, and analyze voice conversations."
				/>
				<Card
					href="https://www.rewind.ai/?ref=riseofmachine"
					title="Rewind AI"
					body="Find anything you have seen, said, or heard."
				/>
				<Card
					href="https://www.slidesai.io/?ref=riseofmachine"
					title="SlidesAI"
					body="Create slides from any text."
				/>
				<Card
					href="https://supernormal.com/?ref=riseofmachine"
					title="Supernormal"
					body="Create meeting notes."
				/>
			</ul>
		</section>


</main>
</Layout>

<style>
	h6.separator {
		margin: 1rem 0;
		color: var(--text-secondary);
		display: table;
  		white-space: nowrap;
		overflow: hidden;
	}
	h6.separator:after {
		border-top: 1px dotted var(--border);
		content: '';
		display: table-cell;
		position: relative;
		top: var(--spacing-06);
		width: 100%;
	}
	h6.separator:before {
		right: 1%;
	}
	h6.separator:after {
		left: 1%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
