---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h6 class="nu-c-h6 nu-u-mt-1 nu-u-mb-1">
			{title}
		</h6>
		<p class="nu-c-fs-small nu-u-mt-1 nu-u-mb-1">
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		background-color: var(--background-secondary);
		background-position: 100%;
		border: 1px solid transparent;
		border-radius: var(--spacing-01);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		padding: 0.8rem 1.2rem;
		color: var(--support-info);
	}
	p {
		color: var(--text-secondary);
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		border: 1px solid var(--border);
	}
	.link-card:is(:hover, :focus-within) h6 {}
</style>
