.link-card {
  list-style: none;
  display: flex;
  background-color: var(--background-secondary);
  background-position: 100%;
  border-radius: var(--spacing-03);
  height: 136px;
  position: relative;
  --shadow-color: rgb(0 0 0 / 0.04);
  box-shadow: 0px 0px 0px 1px var(--shadow-color),
  0px 1px 1px -0.5px var(--shadow-color),
  0px 3px 3px -1.5px var(--shadow-color), 
  0px 6px 6px -3px var(--shadow-color),
  0px 12px 12px -6px var(--shadow-color),
  0px 24px 24px -12px var(--shadow-color);
  transition:all .12s ease-out;
  border: 1px solid transparent;
}

.link-card>a {
  width: 100%;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  color: var(--support-info);
}

p {
  color: var(--text-secondary);
}

.link-card:is(:hover, :focus-within) {
  background-position: 0;
  border: 1px solid var(--border);
}

p.distribution {
  margin: var(--spacing-00);
  position: absolute;
  bottom: var(--spacing-06);
}

span.tag {
  background-color: var(--background-selected);
  padding: 2px 8px;
  border-radius: 24px;
  display: inline-block;
  color: var(--text-primary-alt);
  margin-top: var(--spacing-08);
  font-size: var(--desktop-caption);
  line-height: var(--lh-desktop-caption);
  font-family: var(--system-ui);
}