.nav__item {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-family: var(--body-copy);
  font-weight: 400;
  color: var(--text-secondary);
}

.nav__item:hover {
  color: var(--text-primary);
}

.nav__item.is-active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--accent);
}