.nav__item {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  transition:all .12s ease-out;
  opacity: 0.88;
}

.nav__item:hover {
  color: var(--text-secondary);
}

.nav__item.is-active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--icon-primary);
  opacity: 1;
}