---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-new-ui-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<script src="./theme.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BLXD7VCZH0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BLXD7VCZH0');
</script>

	<body>
		<button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="var(--icon-secondary)" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M8.57 17.93A5.98 5.98 0 0 1 6 13c0-3.31 2.69-6 6-6s6 2.69 6 6c0 2.05-1.03 3.86-2.6 4.94M12 4V2M3 13H1m22 0h-2m-1.222-7.778-1.414 1.414m-12.728 0L4.222 5.222M4 18h16M8 21h8"/></svg>
		  </button>
		<slot />

		<div class="footer">Brought to you by <a href="https://twitter.com/planetabhi" class="nu-u-link--subtle">@planetabhi</a> ∠( ᐛ 」∠)_<br /> <a href="https://github.com/MethodBlack/riseofmachine" class="nu-u-link--subtle">Contribute here</a> ᕦ(ò_óˇ)ᕤ</div>
	</body>
</html>
<style is:global>
	:root {
		--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--accent: var(--support-info);
	}
	html {
		font-family: var(--system-ui);
		background-color: var(--background);
	}
	body { margin: 0; padding: 0;}
	code {
		font-family: Menlo, Consolas, "Ubuntu Mono", "Roboto Mono", "DejaVu Sans Mono", Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main { margin: auto var(--spacing-10);}
	h1.title { margin-bottom: var(--spacing-10); color: var(--text-primary); margin-top: var(--spacing-12); }
	section { margin-bottom: var(--spacing-10);}
	p {margin-top: var(--spacing-1);}
	
	/* theme toggle */

	.theme-toggle {
	--size: 2rem;
	--icon-fill: var(--icon-secondary);
	--icon-fill-hover: var(--icon-secondary);
	background: none;
	border: none;
	padding: 0;
	color: var(--icon-secondary);

	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;

	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;

	position: fixed;
	top: var(--spacing-05);
	right: var(--spacing-05);

	outline-offset: 5px;

	@nest [data-theme="dark"] & {
		--icon-fill: var(--icon-secondary);
		--icon-fill-hover: var(--icon-secondary);
	}
	}

	.footer {
		padding: 2rem;
		text-align: center;
		font-weight: normal;
		font-style: normal;
		color: var(--text-secondary);
		font-size: var(--desktop-body-sm);
		line-height: var(--lh-desktop-body-sm);
	}
</style>
